<!--
 * File Name: footer.ejs
 * Author Name: Henrique Oliveira
 * Website Name: Assignment 2 - NodeJS application using ExpressJS, MongoDB / Mongoose and EJS
 * File Description: Footer for all views
-->

<!--A sticky footer always stays on the bottom of the page-->
<footer class="section page-footer">
    <div class="container center-align">
        &copy;2018 | COMP2068 - Henrique Oliveira / Student ID 200358165
    </div>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script> 
  </body>
</html>