<!--
 * File Name: header.ejs
 * Author Name: Henrique Oliveira
 * Website Name: Assignment 2 - NodeJS application using ExpressJS, MongoDB / Mongoose and EJS
 * File Description: Header for all views; contains CSS imports and navbar
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import Font Awesome Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
    <!--Website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
  </head>
  <!--Navbar-->
  <div class="navbar-fixed">
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><i class="material-icons">home</i></a>
          <ul class="right hide-on-med-and-down" id="navList">
            <!--Links to all views-->
            <li><a href="/books"><i class="material-icons">library_books</i></a></li>
            <li><a href="/quotes"><i class="material-icons">format_quote</i></a></li>
            <% if (!user) { %>
            <li><a href="/registration">Register</a></li>
            <li><a href="/login">Login</a></li>
            <% } %>
            <% if (user) { %>
              <li><a href="/users">Admin</a></li>
              <li><a href="/logout">Logout</a></li>       
              <li><a href="/"><%= user.username %></a></li>
          <% } %>   
          </ul>                  
        </div>
      </div>
    </nav>
  </div>
  <body>