<!--
 * File Name: index.ejs
 * Author Name: Henrique Oliveira
 * Website Name: Assignment 2 - NodeJS application using ExpressJS, MongoDB / Mongoose and EJS
 * File Description: Homepage ...
-->

<% include partials/header %>
    <!--Homepage-->
    <main class="center" style="margin-left: 200px; margin-right: 200px">
      <div class="section" id="home" style="color:#000000">
        <h5 id="mainText" class="center"><%= title %></h5>
        <div>
          <img class="responsive-img" src="/images/logo.png">
        </div>
        <h6 id="mainText" class="center"><%= message %></h6>
      </div>
    </main>
<% include partials/footer %>   