<% include partials/header %>
<main class="center" style="margin-left: 100px; margin-right: 100px">
    <h1 style="color:#000000"><%= title %></h1>
    <table class="responsive-table centered striped highlight" style="color:#000000">
        <thead>
            <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Delete</th>
            </tr>
        </thead>
        <tbody><% for (let i = 0; i < users.length; i++) { %>        
        <tr>
            <td><%= users[i]._id %></td>
            <td><%= users[i].username %></td>
            <td>
            <a href="/admin/delete/<%= users[i]._id %>" onclick="return confirm('Are you sure you want to delete this user?');"><i class="material-icons">delete</i></a>
            </td>                
        </tr>   
        <% } %></tbody>    
    </table>
</main>
<% include partials/footer %>   
